 h1 {
            color: white;
            text-align: center;
            font-family: sans-serif;
            font-size: 30px;
            margin-bottom: 0px;
        }

        p {
            color: white;
            text-align: right;
            font-family: cursive;
            font-size: 25px;
            margin-top: 20%;
        }


        html {
            background-color: lightblue;
        }

        canvas {
            display: block;
            margin: auto;
            margin-top: 0px;
        }